footer {
    width: 100%;
    height: 75px;
    background-color: #000;
    color: gold;
    text-align: center;
    line-height: 75px;
    font-size: 1.3em;
    position: fixed;
    bottom: 0;
}

.alert {
    height: 85vh;
}